Question 1. Knowing docker tags
```cmd
docker build --help

      --iidfile string          Write the image ID to the file
```

Question 2. Understanding docker first run
```cmd
docker run --entrypoint bash -it python:3.9
```
```bash
# pip list
Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
```

In [1]:
import pandas as pd
from sqlalchemy import create_engine    # version 1.4.46

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
con = engine.connect()

In [2]:
# Question 3. Count records
query = """
SELECT COUNT(*) FROM green_tripdata
WHERE lpep_pickup_datetime >= '2019-01-15 00:00:00' AND lpep_pickup_datetime < '2019-01-16 00:00:00'
AND lpep_dropoff_datetime >= '2019-01-15 00:00:00' AND lpep_dropoff_datetime < '2019-01-16 00:00:00'
"""

pd.read_sql(query, con=engine)

   count
0  20530

In [3]:
# Question 4. Largest trip for each day
query = """
SELECT lpep_pickup_datetime::date FROM green_tripdata
ORDER BY trip_distance DESC
LIMIT 1
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime
0           2019-01-15

In [4]:
# or the total distance what is asked?
query = """
SELECT SUM(trip_distance) AS td, lpep_pickup_datetime::date FROM green_tripdata
GROUP BY lpep_pickup_datetime::date
ORDER BY td DESC
LIMIT 1
"""

pd.read_sql(query, con=engine)

         td lpep_pickup_datetime
0  83745.79           2019-01-25

In [5]:
# Question 5. The number of passengers
query = """
SELECT passenger_count, COUNT(*) FROM green_tripdata
WHERE passenger_count IN (2,3)
AND lpep_pickup_datetime >= '2019-01-01 00:00:00' AND lpep_pickup_datetime < '2019-01-02 00:00:00'
GROUP BY passenger_count
"""

pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

In [6]:
# Question 6. Largest tip
query = """
SELECT g.tip_amount, p."Zone", d."Zone" AS "DropZone"
FROM green_tripdata g
LEFT JOIN zones p ON g."PULocationID" = p."LocationID"
LEFT JOIN zones d ON g."DOLocationID" = d."LocationID"
WHERE p."Zone" = 'Astoria'
ORDER BY g.tip_amount DESC
LIMIT 1
"""

pd.read_sql(query, con=engine)

   tip_amount     Zone                       DropZone
0        88.0  Astoria  Long Island City/Queens Plaza